.recognition-img-wrapper {
    padding: 16px;
    background-color: #292A2C;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 85px;
        width: 126px;
        object-fit: contain;
        box-shadow: none !important;
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
    }
}